<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>


        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <center>
                            <h2>{$tituloMensaje}</h2>
                        </center>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <center>
                            <h3 class="text-uppercase error-subtitle">{$detalle}</h3>{$enlaceback}
                            <p class="text-muted m-t-30 m-b-30">Mensaje del Sistema : {$Mensaje}</p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->