<script src="../validacion/validacion.js"></script>
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>FICHAS <small>.</small></h3>
            </div>


        </div>

        <div class="clearfix"></div>




        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>RESERVAS <small>FICHAS</small></h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="calendar-exibit">


                                <div class="col-md-3">

                                    <fieldset>
                                        <div class="control-group">
                                            FECHA INICIO:
                                            <div class="controls">
                                                <div class="col-md-11 xdisplay_inputx form-group row has-feedback">
                                                    <input type="text" class="form-control has-feedback-left"
                                                        id="single_cal1" placeholder="Fecha Final"
                                                        aria-describedby="inputSuccess2Status3" lang="fr-CA">
                                                    <span class="fa fa-calendar-o form-control-feedback left"
                                                        aria-hidden="true"></span>
                                                    <span id="inputSuccess2Status3" class="sr-only">(success)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-3">


                                    <fieldset>
                                        <div class="control-group">
                                            FECHA FINAL:

                                            <div class="controls">
                                                <div class="col-md-11 xdisplay_inputx form-group row has-feedback">
                                                    <input type="text" class="form-control has-feedback-left"
                                                        id="single_cal2" placeholder="Fecha Final"
                                                        aria-describedby="inputSuccess2Status3" lang="fr-CA">
                                                    <span class="fa fa-calendar-o form-control-feedback left"
                                                        aria-hidden="true"></span>
                                                    <span id="inputSuccess2Status3" class="sr-only">(success)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-3">

                                    <fieldset>
                                        <div class="control-group">
                                            ESPECIALIDAD:
                                            <div class="controls">
                                                <div class="col-md-11 xdisplay_inputx form-group row has-feedback">
                                                    <select class="form-control select" data-live-search="true"
                                                        onchange="EspecialidadChange(this)" id="lespecialidad"
                                                        name="lespecialidad" style="width: 100%;">
                                                        <option id="0" value="0" selected="selected">
                                                            [TODAS
                                                            LAS ESPECIALIDAD] </option>
                                                        {section name=posi loop= $lespecialidad}
                                                        <option value="{$lespecialidad[posi].id}">
                                                            {$lespecialidad[posi].nombre}
                                                        </option>
                                                        {/section}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-3">
                                    <fieldset>
                                        <div class="control-group">
                                            MEDICO:
                                            <div class="controls">
                                                <div class="col-md-11 xdisplay_inputx form-group row has-feedback">
                                                    <select class="form-control select" data-live-search="true"
                                                        id="lmedico" name="lmedico" style="width: 100%;">
                                                        <option value="0" disabled="disabled">
                                                            [SELECCIONE
                                                            UN MEDICO] </option>
                                                        <option value="0" selected="selected">
                                                            TODOS LOS MEDICOS
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>


                            </div>
                            <div class="calendar-exibit">


                                <div class="col-md-3">

                                    <fieldset>
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class="col-md-11 xdisplay_inputx form-group row has-feedback">
                                                    <button onclick="BuscarFicha()" class="btn btn-primary"><i class="fa fa-search"
                                                            aria-hidden="true"
                                                            style="color: rgb(252, 252, 252);">
                                                            BUSCAR </i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm12">

                        </div>
                        <!-- /form input mask -->
                        <!-- form color picker -->

                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <div class="col-md-3">
                                    <fieldset>
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class="col-md-11 xdisplay_inputx form-group row has-feedback">
                                                    <button style="display: none;" class="btn btn-success"><i class="fa fa-file-excel-o"
                                                            onclick="exportTableToExcel('example','ExportarFichas')"
                                                            aria-hidden="true" style="color: rgb(252, 252, 252);">
                                                            EXCEL </i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                </div>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-3">
                                </div>
                                <br><br>

                                <table id="example" style="width:100%" class="yourClass">
                                    <thead>

                                        <tr>
                                            <th style="background-color: darkgreen;">
                                                <font color="white">
                                                    <center>ID</center>
                                                </font>
                                            </th>
                                            <th style="background-color: darkgreen;">
                                                <font color="white">FECHA </font>
                                            </th>
                                            <th style="background-color: darkgreen;">
                                                <font color="white">TURNO </font>
                                            </th>
                                            <th style="background-color: darkgreen;">
                                                <font color="white">RESERVA </font>
                                            </th>
                                            <th style="background-color: darkgreen;">
                                                <font color="white">CARNET </font>
                                            </th>
                                            <th style="background-color: darkgreen;">
                                                <font color="white">MATRICULA </font>
                                            </th>
                                            <th style="background-color: darkgreen;">
                                                <font color="white">NOMBRE PACIENTE</font>
                                            </th>
                                            <th style="background-color: darkgreen;">
                                                <font color="white">EMPRESA </font>
                                            </th>
                                            <th style="background-color: darkgreen;">
                                                <font color="white">PARENTESCO </font>
                                            </th>
                                            <th style="background-color: darkgreen;">
                                                <font color="white">CODIGO MEDICO </font>
                                            </th>
                                            <th style="background-color: darkgreen;">
                                                <font color="white">NOMBRE MEDICO </font>
                                            </th>
                                            <th style="background-color: darkgreen;">
                                                <font color="white">ESPECIALIDAD </font>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {section name=pos loop= $lficha}
                                        <tr>
                                            <td>

                                                {$lficha[pos].id}

                                            </td>
                                            <td>
                                                <center>
                                                    {$lficha[pos].fecha}

                                                </center>
                                            </td>
                                            <td>

                                                {$lficha[pos].turno}

                                            </td>
                                            <td>
                                                <center>
                                                {$lficha[pos].horareserva}
                                                </center>

                                            </td>
                                            <td>
                                                <a>
                                                    {$lficha[pos].carnet}
                                                </a>
                                            </td>
                                            <td>
                                                <a>
                                                    {$lficha[pos].matricula}
                                                </a>
                                            </td>
                                            <td>
                                                <a>
                                                    {$lficha[pos].nombre}
                                                </a>
                                            </td>
                                            <td>
                                                <a>
                                                    {$lficha[pos].empresa}
                                                </a>
                                            </td>
                                            <td>
                                                <a>
                                                    {$lficha[pos].parentesco}
                                                </a>
                                            </td>
                                            <td>
                                                <a>
                                                    {$lficha[pos].codigo}
                                                </a>
                                            </td>
                                            <td>
                                                <a>
                                                    {$lficha[pos].nombremedico}
                                                </a>
                                            </td>
                                            <td>
                                                <a>
                                                    {$lficha[pos].especialidad}
                                                </a>
                                            </td>
                                        </tr>
                                        {/section}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'B<"row"<"col-sm-6" l><"col-sm-6"f>>' + 'tip',
            buttons: [
               // { extend: 'pdf', className: 'btn btn-secondary' },
                { extend: 'copy', className: 'btn btn-primary' }
               // { extend: 'excel', className: 'btn btn-success' },
               // { extend: 'print', className: 'btn btn-info' },
            ],
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]]
        });
    });
</script>

<style>
    .yourClass {
        border-collapse: collapse;
        width: 300px;
    }

    .yourClass th,
    .yourClass td {
        padding: 10px;
        border: solid 1px #777;
    }
</style>