<script src="../validacion/validacion.js"></script>
<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">

                    <div class="x_content">
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" class="dropdown">
                                <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" role="button" aria-expanded="false">VIGENCIA DE DERECHO<span
                                        class="caret"></span></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{$gestor}?opcion=40">BUSCAR AFILIADO</a>
                                    <a class="dropdown-item" href="{$gestor}?opcion=41">VIGENCIA DE EMPRESA</a>
                                    <a class="dropdown-item" href="{$gestor}?opcion=42">LISTAR MAYOR DE 19 AÑOS</a>
                                    <a class="dropdown-item" href="{$gestor}?opcion=43">GRUPO FAMILIAR</a>
                                    <a class="dropdown-item" href="{$gestor}?opcion=44">VERIFICAR ESTADO FAMILIAR</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END TEMPLATE -->